.page-title .extra-button {
    float: right;
    margin-top: -41px;
}
.error-message {
    list-style: none;
}
form label {
    font-weight: 700;
}

#cd-timeline::before {
    left: 18px;
}

@media only screen and (min-width: 1170px) {

    #cd-timeline {
        margin-top: 2em;
        margin-bottom: 2em;
        position: inherit;
    }

    .cd-timeline-block:first-child {
        margin-top: 0;
    }

    .cd-timeline-block {
        margin: 2em 0;
    }

    .cd-timeline-block:nth-child(even) .cd-timeline-content {
        float: none;
    }

    .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
        left: 0;
        right: 0;
        text-align: left;
    }

    .cd-timeline-img {
        width: 40px;
        height: 40px;
        line-height: 40px;
        left: 0;
        margin-left: 0;
        -webkit-transform: none;
        -webkit-backface-visibility: screen;
    }

    .cd-timeline-content .cd-date {
        position: inherit;
        left: 0;
    }

    .cd-timeline-block {
        margin: 2em 0;
    }

    .cd-timeline-content {
        margin-left: 60px;
        padding: 1em;
        width: 88%;
    }
}
