ul.alert {
    list-style: none;
}

#section-3 {
    padding-bottom: 35px;
}

#section-3 .container {
    padding-top: 35px;
}

#section-3 h2, #section-3 p {
    color: #f1f1f1;
}

#section-3 #form-submit {
    float: right;
}
