/* Global Styles */

body {
    position: relative;
    height: 100%!important;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #4E5E6A;
    overflow-x: hidden;
}

html {
    height: 100%!important;
    position: relative;
}

a:hover,
a:active,
a:focus {
    outline: none!important;
}

.pace .pace-progress {
    background: #22BAA0;
}

.pace .pace-progress-inner {
    box-shadow: 0 0 10px #22BAA0, 0 0 5px #22BAA0;
}

.pace .pace-activity {
    border-top-color: #22BAA0;
    border-left-color: #22BAA0;
    margin-top: 60px;
}


/* Typography */

p {
    display: block;
    font-size: 13px;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 28px;
    margin: 0px 0px 10px 0px;
    font-style: normal;
    white-space: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 16px;
}

h4 {
    font-size: 14px;
}

h5 {
    font-size: 12px;
}

h6 {
    font-size: 10px;
}

h3,
h4,
h5 {
    font-weight: 600;
}


/* Buttons */

.btn {
    font-size: 13px;
    border: 1px solid transparent;
    border-radius: 0;
    outline: none!important;
}

.btn-addon i {
    position: relative;
    float: left;
    width: 35px;
    height: 35px;
    margin: -7px -13px;
    margin-right: 12px;
    line-height: 34px;
    text-align: center;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    background-color: rgba(0,0,0, 0.1);
}

.btn-rounded.btn-addon i {
    margin: -7px -16px;
    margin-right: 15px;
    border-radius: 50px;
}

.btn-rounded.btn-addon.btn-sm i {
    margin: -7px -16px;
    margin-right: 10px;
    border-radius: 50px;
}

.btn-lg {
    line-height: inherit;
}

.btn-lg.btn-addon i {
    width: 45px;
    height: 45px;
    margin: -11px -17px;
    margin-right: 16px;
    line-height: 45px;
}

.btn-sm.btn-addon i {
    width: 30px;
    height: 30px;
    margin: -6px -11px;
    margin-right: 10px;
    line-height: 30px;
}

.btn-xs.btn-addon i {
    width: 22px;
    height: 22px;
    margin: -2px -6px;
    margin-right: 5px;
    line-height: 22px;
    font-size: 10px;
}

.btn-default {
    background-color: #fff;
    color: #333;
    border: 1px solid #e5e5e5;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-group.open .btn-default.dropdown-toggle,
.btn.btn-default.active {
    background-color: #f1f1f1;
    border: 1px solid #e5e5e5;
}

.btn-primary {
    background-color: #7a6fbe;
    color: #fff;
    border: 1px solid transparent;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-group.open .btn-primary.dropdown-toggle,
.btn.btn-primary.active {
    background-color: #6a5fac;
    border: 1px solid transparent;
}

.btn-success {
    background-color: #22BAA0;
    color: #fff;
    border: 1px solid transparent;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-group.open .btn-success.dropdown-toggle,
.btn.btn-success.active {
    background-color: #1DB198;
    border: 1px solid transparent;
}

.btn-danger {
    background-color: #f25656;
    color: #fff;
    border: 1px solid transparent;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-group.open .btn-danger.dropdown-toggle,
.btn.btn-danger.active {
    background-color: #e14444;
    border: 1px solid transparent;
}

.btn-info {
    background-color: #12AFCB;
    color: #fff;
    border: 1px solid transparent;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-group.open .btn-info.dropdown-toggle,
.btn.btn-info.active {
    background-color: #08A7C3;
    border: 1px solid transparent;
}

.btn-warning {
    background-color: #f2ca4c;
    color: #fff;
    border: 1px solid transparent;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-group.open .btn-warning.dropdown-toggle,
.btn.btn-warning.active {
    background-color: #e8bf40;
    border: 1px solid transparent;
}

.btn-rounded {
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 50px;
}

.btn-group.open .dropdown-toggle {
    box-shadow: none;
}


/* Forms */

label {
    font-size: 13px;
    font-weight: normal;
}

.controls label {
    display: block;
}

.form-control {
    background: #fff;
    border-radius: 0;
    border: 1px solid #dce1e4;
    box-shadow: none!important;
    font-size: 13px;
    padding: 6px 10px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

input[disabled] {
    background: #f7f7f7;
    border-color: #d2d7db;
}

.form-control:focus {
    border: 1px solid #bdc5c9;
    background: #fff;
}

.help-block {
    margin-bottom: 5px;
}

.form-group.has-success .form-control,
.form-group.has-warning .form-control,
.form-group.has-error .form-control {
    box-shadow: none;
}

.form-group.has-success .form-control:focus {
    border: 1px solid #22BAA0;
    background: #fff;
}

.form-group.has-warning .form-control:focus {
    border: 1px solid #f6d433;
    background: #fff;
}

.form-group.has-error .form-control:focus {
    border: 1px solid #f25656;
    background: #fff;
}

.form-group.has-success label {
    color: #22BAA0;
}

.form-group.has-warning label {
    color: #f6d433;
}

.form-group.has-error label {
    color: #f25656;
}

label.error {
    color: #a94442;
    font-weight: bold;
    margin-top: 5px;
    float: left;
    font-size: 12px;
}

input.form-control.input-rounded {
    border-radius: 30px;
}

.input-group .btn {
    padding: 7px 12px;
}

ol.linenums {
    margin: 0;
}



/* CSS Utilities */
/* Margins & Paddings */

.no-s {
    margin: 0px!important;
    padding: 0px!important;
}

.no-m {
    margin: 0;
}

.no-p {
    padding: 0;
}

.m {
    margin: 15px;
}

.m-t-xxs {
    margin-top: 5px;
}

.m-r-xxs {
    margin-right: 5px;
}

.m-b-xxs {
    margin-bottom: 5px;
}

.m-l-xxs {
    margin-left: 5px;
}

.m-t-xs {
    margin-top: 10px;
}

.m-r-xs {
    margin-right: 10px;
}

.m-b-xs {
    margin-bottom: 10px;
}

.m-l-xs {
    margin-left: 10px;
}

.m-t-sm {
    margin-top: 15px;
}

.m-r-sm {
    margin-right: 15px;
}

.m-b-sm {
    margin-bottom: 15px;
}

.m-l-sm {
    margin-left: 15px;
}

.m-t-md {
    margin-top: 20px;
}

.m-r-md {
    margin-right: 20px;
}

.m-b-md {
    margin-bottom: 20px;
}

.m-l-md {
    margin-left: 20px;
}

.m-t-lg {
    margin-top: 25px;
}

.m-r-lg {
    margin-right: 25px;
}

.m-b-lg {
    margin-bottom: 25px;
}

.m-l-lg {
    margin-left: 25px;
}

.m-t-xxl {
    margin-top: 30px;
}

.m-r-xxl {
    margin-right: 30px;
}

.m-b-xxl {
    margin-bottom: 30px;
}

.m-l-xxl {
    margin-left: 30px;
}

.m-t-n-xxs {
    margin-top: -5px;
}

.m-r-n-xxs {
    margin-right: -5px;
}

.m-b-n-xxs {
    margin-bottom: -5px;
}

.m-l-n-xxs {
    margin-left: -5px;
}

.m-t-n-xs {
    margin-top: -10px;
}

.m-r-n-xs {
    margin-right: -10px;
}

.m-b-n-xs {
    margin-bottom: -10px;
}

.m-l-n-xs {
    margin-left: -10px;
}

.m-t-n-sm {
    margin-top: -15px;
}

.m-r-n-sm {
    margin-right: -15px;
}

.m-b-n-sm {
    margin-bottom: -15px;
}

.m-l-n-sm {
    margin-left: -15px;
}

.m-t-n-md {
    margin-top: -20px;
}

.m-r-n-md {
    margin-right: -20px;
}

.m-b-n-md {
    margin-bottom: -20px;
}

.m-l-n-md {
    margin-left: -20px;
}

.m-t-n-lg {
    margin-top: -25px;
}

.m-r-n-lg {
    margin-right: -25px;
}

.m-b-n-lg {
    margin-bottom: -25px;
}

.m-l-n-lg {
    margin-left: -25px;
}

.m-t-n-xxl {
    margin-top: -30px;
}

.m-r-n-xxl {
    margin-right: -30px;
}

.m-b-n-xxl {
    margin-bottom: -30px;
}

.m-l-n-xxl {
    margin-left: -30px;
}

.p {
    padding: 15px;
}

.p-h-xxs {
    padding-left: 5px;
    padding-right: 5px;
}

.p-h-xs {
    padding-left: 10px;
    padding-right: 10px;
}

.p-h-sm {
    padding-left: 15px;
    padding-right: 15px;
}

.no-p-h {
    padding-left: 0;
    padding-right: 0;
}

.no-p-v {
    padding-top: 0;
    padding-bottom: 0;
}

.p-h-md {
    padding-left: 20px;
    padding-right: 20px;
}

.p-h-lg {
    padding-left: 25px;
    padding-right: 25px;
}

.p-h-xxl {
    padding-left: 30px;
    padding-right: 30px;
}

.p-v-xxs {
    padding-top: 5px;
    padding-bottom: 5px;
}

.p-v-xs {
    padding-top: 10px;
    padding-bottom: 10px;
}

.p-v-sm {
    padding-top: 15px;
    padding-bottom: 15px;
}

.p-v-md {
    padding-top: 20px;
    padding-bottom: 20px;
}

.p-v-lg {
    padding-top: 25px;
    padding-bottom: 25px;
}

.p-v-xxl {
    padding-top: 30px;
    padding-bottom: 30px;
}


/* Icons */

.icon-xs {
    font-size: 12px;
}

.icon-sm {
    font-size: 14px;
}

.icon-md {
    font-size: 16px;
}

.icon-lg {
    font-size: 18px;
}

.icon-state-default {
    color: #ccc;
}

.icon-state-primary {
    color: #7a6fbe;
}

.icon-state-success {
    color: #22BAA0;
}

.icon-state-info {
    color: #12AFCB;
}

.icon-state-warning {
    color: #f6d433;
}

.icon-state-danger {
    color: #f25656;
}


/* Navbar */


.navbar {
    height: 60px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-box-shadow: 0px 1px 8px 0px rgba(51, 51, 51, 0.2);
    -moz-box-shadow: 0px 1px 8px 0px rgba(51, 51, 51, 0.2);
    box-shadow: 0px 1px 8px 0px rgba(51, 51, 51, 0.2);
    margin-top: -300px;
    background: #fff;
}

.navbar.whiteHeader {
    margin-top: 0;
}

.navbar .navbar-toggle {
    color: #5f5f5f!important;
    font-size: 14px!important;
}

.navbar.whiteHeader ul li a {
    color: #5f5f5f;
}

.navbar.whiteHeader .navbar-header .navbar-brand {
    color: #5f5f5f;
}

.navbar .navbar-header .navbar-brand {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    height: 60px;
    padding: 20px 15px;
    font-size: 20px;
}

.navbar .navbar-header button {
    color: #fff;
}

.navbar ul li a {
    color: #fff;
    background: transparent;
}

.navbar ul li a:hover {
    background: transparent;
}

.navbar ul li a:focus,
.navbar ul li a:active,
.navbar ul li.active a {
    background: transparent;
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .navbar ul li.active a {
        background: transparent;
        border-top: 2px solid #22BAA0;
        padding-top: 18px;
    }

    .navbar.whiteHeader ul li.active a {
        color: #333;
    }
}

@media (max-width: 768px) {
    #navbar {
        background: #fff;
        -webkit-box-shadow: 0px 1px 8px 0px rgba(51, 51, 51, 0.2);
        -moz-box-shadow: 0px 1px 8px 0px rgba(51, 51, 51, 0.2);
        box-shadow: 0px 1px 8px 0px rgba(51, 51, 51, 0.2);
    }
}


/* Home */

.home {
    width: 100%;
    height: 100%;
    position: relative;
    background: url('../images/bg.jpg') fixed;
    background-size: cover;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
}

.home-text {
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 257px;
    margin-top: -128.5px;
    color: #fff;
    text-align: center;
}

.home-text > a.btn {
    margin: 0 5px;
}

.home-text h1 {
    font-size: 50px;
    font-weight: 300;
    margin-bottom: 20px;
    margin-top: 0;
}

.home-text h1:after {
    width: 80px;
    height: 2px;
    background: #f1f1f1;
    margin: 15px auto 15px auto;
    display: block;
    content: ' ';
}

.home-text p {
    font-size: 18px;
}

@media (max-width: 768px) {
    .home-text h1 {
        font-size: 30px;
    }

    .home-text p {
        font-size: 16px;
    }
}

.scroller {
    position: absolute;
    bottom: 10%;
    left: 0;
    right: 0;
    width: 18px;
    margin: 0 auto;
    color: #fff;
    text-align: center;

}

.mouse {
    height: 31px;
    width: 18px;
    border-radius: 12px;
    transform: none;
    border: 2px solid white;
    top: 170px;
}

.wheel {
    height: 5px;
    width: 2px;
    display: block;
    margin: 5px auto;
    background: white;
    position: relative;
}

.wheel {
    -webkit-animation: mouse-wheel 1.2s ease infinite;
    -moz-animation: mouse-wheel 1.2s ease infinite;
}

@-webkit-keyframes mouse-wheel {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(6px);
        -ms-transform: translateY(6px);
        transform: translateY(6px);
    }
}

@-moz-keyframes mouse-wheel {
    0% { top: 1px; }
    50% { top: 2px; }
    100% { top: 3px;}
}

@-webkit-keyframes mouse-scroll {
    0%   { opacity: 0;}
    50%  { opacity: .5;}
    100% { opacity: 1;}
}

@-moz-keyframes mouse-scroll {
    0%   { opacity: 0; }
    50%  { opacity: .5; }
    100% { opacity: 1; }
}

@-o-keyframes mouse-scroll {
    0%   { opacity: 0; }
    50%  { opacity: .5; }
    100% { opacity: 1; }
}

@keyframes mouse-scroll {
    0%   { opacity: 0; }
    50%  { opacity: .5; }
    100% { opacity: 1; }
}



/* Features */


.features-list {
    padding-top: 75px;
}

.feature-icon {
    border-radius: 50%;
    margin: 0 auto;
    text-align: center;
    line-height: 100px;
    font-size: 40px;
    color: #22BAA0;
    border: 2px solid #22BAA0;
    width: 100px;
    height: 100px;
    font-size: 35px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.features-list .col-sm-4:hover .feature-icon {
    background: #22BAA0;
    color: #fff;
}

.features-list .col-sm-4 {
    margin-bottom: 20px;
    text-align: center;
    cursor: pointer;
}

.features-list h2 {
    margin-right: 20px;
    margin-left: 20px;
}

.features-list .col-sm-4 .btn-link {
    color: #22BAA0;
}

.features-list .col-sm-4 p {
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

#section-1 {
    padding: 20px 0;
    margin-top: 20px;
    background: #f7f7f7;
}

.iphone-img {
    display: block;
    margin: 0 auto;
}

.tabs-style-linebox {
    margin-top: 20px;
}

.tabs-style-linebox .content-wrap section p {
    font-size: 14px;
}

ul.features-list-2 li {
    padding: 15px;
}

#section-2 {
    padding: 20px 0;
    background: #f1f1f1;
}

#section-2 p {
    font-size: 14px;
}

#section-3 {
    background: url('../images/contact-bg.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}

#section-3 .carousel {
    padding: 50px 0 20px 0;
    color: #fff;
    position: relative;
}

#section-3 .carousel .item {
    padding-bottom: 60px;
    text-align: center;
}

#section-3 .carousel .item p {
    font-size: 14px;
}

#section-3 .carousel .item span {
    font-size: 12px;
    color: #ccc;
}


/* Contact */

#contact {
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
    background: #f7f7f7;
}

#contact textarea {
    padding: 10px 16px;
}

.contact-button {
    padding: 0;
    font-size: 25px;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    line-height: 75px;
}

@media (max-width: 768px) {
    .contact-name {
        margin-bottom: 15px;
    }
}

/* Footer */

footer {
    padding: 20px;
}
