html, body, .page-content {
    background: #586172;
}

.page-content, .page-inner {
    background: rgb(59, 70, 90);
}

.navbar .logo-box {
    background: #34425A;
}

.navbar .logo-box a {
    color: #fff;
}

.login-box .logo-name {
    font-weight: 500;
}
.login-box .logo-name > span {
    font-weight: 700;
    color: #337ab7;
}

.sidebar {
    background: #34425A;
}

.sidebar-header {
    background: #34425A;
}

.sidebar-profile span small {
    color: #899dc1;
}

.menu {
    background: #34425A;
}

.menu.accordion-menu a {
    color: #899dc1;
}

.menu.accordion-menu > li > a:hover {
	background: #2b384e;
    color: #fff;
}

.menu.accordion-menu > li.active > a,
.menu.accordion-menu > li.active.open > a {
	background: #2b384e;
    color: #fff;
}

.small-sidebar:not(.page-sidebar-fixed) .accordion-menu li.droplink:hover > a,
.horizontal-bar .accordion-menu > li.droplink:hover > a,
.menu.accordion-menu ul,
.menu.accordion-menu li.open > a,
.hover-menu .accordion-menu > li.droplink:hover > a {
    background: #2B384E;
    color: #fff;
}

.menu.accordion-menu ul li a:hover,
.menu.accordion-menu ul li.active a {
	background: #34425A;
    color: #fff;
}

.menu.accordion-menu ul li a {
    color: #899dc1;
}

.page-error, .lead {
    color: #C9C9C9;
}

thead, tfoot {
    background-color: #F3F3F3;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background: #4E5E6A;
    border-color: #4E5E6A;
}

.outer-heading {
    color: rgba(224, 224, 224, 1.0);
}
